
<h1 class="text-3xl text-green-700 text-center my-5">Fill in your address :  </h1>
<form [formGroup]="AddressForm" (ngSubmit)="Checkout()">


    
    <div class="w-[75%] mx-auto">
         <div class="mb-5">
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Details : </label>
            <input formControlName="details" type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        </div>


        <div class="mb-5">
            <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number : </label>
            <input formControlName="phone" type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-700 focus:border-green-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
 
            @if(AddressForm.get("phone")?.errors && AddressForm.get("phone")?.touched)
            {
                  @if (AddressForm.get("phone")?.getError("required")) 
                  {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Phone Required.</span>
                      </div>
                  }
                 @else if (AddressForm.get("phone")?.getError("pattern"))
                 {
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Invalid phone number entered. Please ensure it follows the correct Egyptian format: a 10- or 11-digit number starting with '01' for mobile numbers (e.g., 01012345678).</span>
                      </div>
                 }
            }
       
        </div>
    
        <div class="mb-5">
        <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City : </label> 
            
     <select formControlName="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a city</option>
          <option  value="Cairo">Cairo</option>
          <option  value="Alexandria">Alexandria</option>
          <option  value="Giza">Giza</option>
          <option  value="Suez">Suez</option>
     </select>
  
        </div>

        <button [disabled]="AddressForm.invalid"  type="submit" class="bg-green-700 disabled:!bg-gray-500 p-2 rounded-md text-white mb-3 ">Checkout
          @if(IsLoading)
          {
            <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
    </div>
    
</form>