
<div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row  dark:bg-gray-800 dark:hover:bg-gray-700 mt-10">
    <div class="w-[25%] bg-red-500">
        <img class="w-full rounded-t-lg  md:h-auto  md:rounded-none md:rounded-s-lg" [src]="SpecProd.imageCover" alt="">
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal w-[50%]">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{SpecProd.title}}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{SpecProd.description}}</p>
        <h6 class="text-l font-semibold tracking-tight text-green-600 dark:text-white">{{SpecProd.category.name}}</h6> 

      <div class="flex  my-5">
        <span class="text-3xl font-bold text-gray-900 dark:text-white">{{SpecProd.price}} EGP</span>

        <div class="flex items-center ms-5">
            <span>{{SpecProd.ratingsAverage}}</span>
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
        </div>

      </div>

        <div class="w-[50%]">
            <a (click)="AddProduct(SpecProd._id)" class="text-white cursor-pointer bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
        </div>

    </div>
</div>

